@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #cbd0d3;
    margin: 0;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.quiz-container{
background-color: rgb(147, 170, 231);
width: 500px;
/* align-content: center; */
height: 195px;


overflow: hidden;
border-radius: 10px;
}

h2{
    text-align: center;
    color: #3a3a3a;
}

/* .button{
    padding: 15px;
    font-family: inherit;
    width: 100%;
    border: none;
    /* padding: 1rem; */
    /* background-color: rgb(54, 65, 95); */
    /* color: white; */
    /* font-size: 1.1rem; */
/* }  */
button{
    margin-top: 15px;
    font-family: inherit;
    width: 100%;
    border: none;
    padding: 1rem;
    background-color: rgb(54, 65, 95);
    color: white;
    font-size: 1.1rem;
    
}
button:focus{
    outline: none;
    background-color: rgb(80, 93, 131);
}
.input{
    text-align: center;
}

input{
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    padding: 5px;
    font-weight: bold;
}
input:focus{
    outline: none;
}
 #score{
    padding: 29px
} 