<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>ccmdr</title>
</head>
<body>
    <div class="quiz-container" id="quiz">
        <div class="question-body" id="q-body">
              <h2 id="question">What command do you use to get the GCP SDK session information?</h2>
        <div class="input">
            <input type="text" id="userAnswer" autocomplete="off" spellcheck="false"  placeholder="type command here...">
        </div>
        </div>
        <div class="button">
             <button id="submit" type="submit">SUBMIT</button>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>